{
    "driver_config": {"serial_port": "/dev/ttyUSB0", 
			"baud_rate": 115200,
			"status_callback": null},
    "campus": "campus",
    "building": "ETB",
    "unit": "OpenEVSE_Test1",
    "driver_type": "openevse",
    "registry_config":"/home/lboss/openevse_volttron/volttron/drivers/openevse.csv",
    "interval": 10,
    "timezone": "US/Pacific"
}
